/* Grid the content  */
.main-content {
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 3px;
  padding-bottom: 20px;
}
.content {
  grid-area: 1 / 1 / 2 / 2;
}
.sides {
  grid-area: 1 / 2 / 2 / 3;
}

/* The style of the articles  */
.article {
  padding: 3px;
  margin: 5px;
}

.part1 {
  font-size: large;
}

.part2 {
  border: solid 2px midnightblue;
  padding-left: 10px;
}

.part3 {
  background-color: #7aaee8;
  padding-left: 10px;
}

/* The style of the sides */
.figure {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 20px;
}
.placeholder {
  width: 100%;
}

.Social-media {
  background-color: #2a5e99;
  color: white;
  padding-left: 20px;
}

.social-list {
  padding-left: 20px;
}

.social-list a {
  color: white;
}

.social-list a:visited {
  color: white;
  text-decoration: none;
}

.list-item {
  padding-bottom: 10px;
  list-style: none;
}

/* Responsive on mobile screens */
@media screen and (max-width: 413px) {
  /* To make the main content with two rows  */
  .main-content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .content {
    grid-area: 1 / 1 / 2 / 2;
  }
  .sides {
    grid-area: 2 / 1 / 3 / 2;
    margin-bottom: 80px;
  }
}

/* Responsive on tablet screens */
@media screen and (min-width: 414px) and (max-width: 770px) {
  /* To make the main content with two rows  */
  .main-content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .content {
    grid-area: 1 / 1 / 2 / 2;
  }
  .sides {
    /* I flexed the sides to be Horizontal on tablets */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    grid-area: 2 / 1 / 3 / 2;
    margin-bottom: 80px;
  }

  .content {
    margin-bottom: 40px;
  }

  /* The style of the sides */
  .placeholder {
    height: 100%;
    width: 80%;
  }

  .figure {
    margin: 0;
  }
  .Social-media {
    padding-right: 40px;
    height: 85%;
    margin: auto;
  }
}
