.logo {
  width: 90%;
  margin: auto;
}

/* The navigation style */
.nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 5px;
}

/* The header style */
.header {
  display: grid;
  grid-template-columns: 20% auto;
  overflow: hidden;
  background-color: #cee5ffe3;
  margin-bottom: 10px;
}

.header a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.header a:hover {
  background-color: #7aaee8;
  color: black;
  box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.header a.active {
  background-color: #646a6f;
  color: white;
}

/* Responsive on mobile screens */
@media screen and (max-width: 413px) {
  .logo {
    width: 60%;
    margin: auto;
  }
  
  /* To make the header with two rows  */
  .header {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 100px);
  }
}

/* Responsive on tablet screens */
@media screen and (min-width: 414px) and (max-width: 770px) {
  .logo {
    width: 40%;
    margin: auto;
  }

    /* To make the header with two rows  */
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
